body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f6f6f6;
        }

        /* Barra superior */
        .header {
            background-color: #6a1b9a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 60px;
            color: white;
            font-size: 32px;
            font-weight: bold;
            border-bottom: 4px solid #e91e63;
        }

        .logo {
            font-size: 38px;
            font-weight: bold;
        }

        /* div */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;         
        }

        .card {
            background: white;
            width: 370px;
            padding: 55px;
            border-radius: 22px;
            box-shadow: 0 20px 116px rgba(0,0,0,0.15);
            text-align: center;
        }

        .card h2 {
            margin-bottom: 25px;
            color: #4a1468;
        }

        .input-group {
            text-align: left;
            margin-bottom: 18px;
        }

        .input-group label {
            font-size: 14px;
            font-weight: bold;
            color: #4a4a4a;
        }

        .input-group input {
            width: 100%;
            padding: 11px;
            border-radius: 6px;
            border: 1px solid #ccc;
            margin-top: 6px;
            background: #e6e6e6;
        }

        .btn {
            width: 100%;
            padding: 12px;
            font-size: 15px;
            border: none;
            border-radius: 6px;
            background-color: #4a1468;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 5px;
        }

        .btn:hover {
            background-color: #380d4f;
        }

        .link {
            font-size: 13px;
            margin-top: 12px;
            color: #4a1468;
            cursor: pointer;
        }

        .messages {
            color: red;
            margin-bottom: 10px;
        }
