<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login – Central de Eventos</title>

    <link rel="stylesheet" href="main/style/login.css">
</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div>Central de Eventos</div>
        <div class="logo">
            <img src="https://institucional.uniceub.br/hubfs/BrandCenter/img/logo-ceub-negativa-colorida.png" height="50px"/>
        </div>
    </div>

    <!-- CARD LOGIN -->
    <div class="container">
        <div class="card">

            <h2>Acessar conta</h2>

            {% if messages %}
                {% for msg in messages %}
                    <p class="messages">{{ msg }}</p>
                {% endfor %}
            {% endif %}

            {% if erro %}
                <p class="messages">{{ erro }}</p>
            {% endif %}

            <form method="post" action="{% url 'login_page' %}">
                {% csrf_token %}
            
                <div class="input-group">
                    <label>E-mail</label>
                    <input type="text" name="username" placeholder="Digite seu e-mail" required>
                </div>

                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha" required>
                </div>

                <button class="btn" type="submit">Entrar</button>

            </form>

            <div class="link">Esqueceu a senha?</div>
            <br>
            <div class="link">
                <a href="{% url 'register_page' %}"> Não tem conta? Cadastre-se </a>
            </div>

        </div>
    </div>

</body>
</html>
