<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro – Central de Eventos</title>

    <link rel="stylesheet" href="main/style/register.css">
</head>

<body>

    <div class="header">
        <div>Central de Eventos</div>
        <div class="logo">
            <img src="https://institucional.uniceub.br/hubfs/BrandCenter/img/logo-ceub-negativa-colorida.png" height="50px"/>
        </div>
    </div>

    <div class="auth-wrapper">
        <div class="auth-card">
            <h1 class="auth-title">Cadastre-se</h1>
            <form method="post">
                {% csrf_token %}

                <!-- Linha 1 -->
                <div class="form-row">
                    <div class="form-group">
                    <label for="{{ form.nome_completo.id_for_label }}">Nome Completo*</label>
                    {{ form.nome_completo }}
                    </div>

                    <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">E-mail*</label>
                    {{ form.email }}
                    </div>
                </div>

                <!-- Linha 2 -->
                <div class="form-row">
                    <div class="form-group">
                    <label for="{{ form.telefone.id_for_label }}">Telefone*</label>
                    {{ form.telefone }}
                    </div>

                    <div class="form-group">
                    <label for="{{ form.instituicao.id_for_label }}">Instituição*</label>
                    {{ form.instituicao }}
                    </div>
                </div>

                <!-- Linha 3: select ocupando o card todo -->
                <div class="form-row">
                    <div class="form-group full-width">
                    <label for="{{ form.tipo_perfil.id_for_label }}">Tipo de Perfil*</label>
                    {{ form.tipo_perfil }}
                    </div>
                </div>

                <!-- Linha 4: senhas lado a lado -->
                <div class="form-row">
                    <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Senha*</label>
                    {{ form.password1 }}
                    </div>

                    <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirmação de Senha*</label>
                    {{ form.password2 }}
                    </div>
                </div>

                <button type="submit" class="btn-primary">Cadastrar</button>

                <p class="auth-footer">
                    Já tem uma conta? <a href="{% url 'login_page' %}">Faça o login</a>
                </p>
            </form>
        </div>
    </div>

</body>
</html>
